# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# Git
.git/
.gitignore

# Local databases / ML cache
chromadb/
.cache/
.huggingface/
torch_extensions/

# OS junk
.DS_Store
Thumbs.db

# Docs & misc
docs/
